---
import config from "@config/config.json";
const year = new Date().getFullYear();
---

<footer class="mx-auto max-w-screen-lg px-4 sm:px-6 lg:px-8">
  <div class="border-zinc-10 border-t">
    <p class="mb-8 mt-8 text-center text-xs/relaxed">
      &copy; 2022 - {year}. {config.site.title}. All rights Reserved.
    </p>
  </div>
</footer>
