---
import ContactForm from '~/components/widgets/ContactForm';

---
<section class="px-24 pb-10 animate-leftslide">
    <h2 class="mb-6 font-bold text-2xl">Via e-mail</h2>
    <div>
        <ContactForm client:idle />
    </div>
</section>
