---
---

<footer class="px-max-width mt-16">
    <div
        class="flex items-center text-sm font-light text-muted-foreground justify-center py-5 border-t"
    >
        <p class="capitalize" aria-label="Footer content">
            © 2022 - Present, Anish Shobith P S
        </p>
    </div>
</footer>
