---
import { Button } from "@components/ui/button";
import { Icon } from "astro-icon/components";
---

<div class="m-auto text-right mt-12">
  <Button className="cursor-pointer" variant={"secondary"}>
    <a class="cursor-pointer" href="/blog">
      All Posts
      <Icon name="mdi:arrow-right" class="inline" />
    </a>
  </Button>
</div>
