---
import ProjectCard from "./ProjectCard.astro";
import { getProfileInfo } from "~/ts/github";
const data = (await getProfileInfo()).pinnedItems.nodes.sort((a, b) => b.stargazerCount - a.stargazerCount);
---
<h2 class="px-24 mb-8 text-3xl lg:text-4xl font-bold font-heading"> Projects </h2>
<div class="px-24 pb-20 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
    <!-- Loop through projects -->
    {
        data.map((project) => (
        <div class="bg-sky-200 dark:bg-zinc-600 rounded-lg shadow-lg p-4">
      <h3 class="text-xl font-semibold mb-2">
        <a href={project.url} target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">{project.name}</a>
      </h3>
      <p class="dark:text-white mb-4">{project.description}</p>
      <div class="flex items-center">
        <div class="ml-auto">
          <span class="text-white-600">
            <svg class="inline-block w-4 h-4 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M17 10a7 7 0 11-14 0 7 7 0 0114 0zm-7-9a9 9 0 100 18 9 9 0 000-18zm0 16a7 7 0 110-14 7 7 0 010 14z" clip-rule="evenodd" />
            </svg>
            {project.stargazerCount} stars
          </span>
        </div>
      </div>
    </div>
        ))
    }
  </div>
  