---
import CategoryIcon from "@components/icons/CategoryIcon.astro";
import Base from "@src/layouts/BaseLayout.astro";
import {
  getSinglePage,
  getTaxonomy,
  taxonomyFilter,
} from "@src/lib/getAllTags";
import { deslugify } from "@src/lib/slug";

export async function getStaticPaths() {
  const categories = await getTaxonomy("blog", "categories");

  return categories.map((category) => {
    return {
      params: { category: category.slug },
    };
  });
}

const { category } = Astro.params;

const posts = await getSinglePage("blog");
const filterByCategory = taxonomyFilter(posts, "categories", category);
export const prerender = true;
---

<Base>
  <h1 class="mb-8 text-2xl font-bold capitalize md:text-3xl">
    Category: {deslugify(category)}
  </h1>
  <ul class="ml-4 space-y-4 text-left">
    {
      filterByCategory?.map((post) => (
        <li class="flex items-center space-x-1">
          <CategoryIcon />
          <a class="cursor-pointer" href={`/blog/${post.slug}`}>
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</Base>
