---
import CategoryIcon from "@icons/CategoryIcon.astro";
import Base from "@src/layouts/BaseLayout.astro";
import { getTaxonomy } from "@src/lib/getAllTags";

const allCategories = await getTaxonomy("blog", "categories");
const uniqueCategories = [
  ...new Set(allCategories.map((item) => item.slug)),
].map((slug) => allCategories.find((cat) => cat.slug === slug));
export const prerender = true;
---

<Base>
  <section class="grid grid-cols-1">
    <h1 class="mb-8 text-2xl font-bold md:text-3xl">Categories:</h1>
    <ul class="flex flex-wrap gap-3">
      {
        uniqueCategories.map((category) => (
          <li class="mr-4 flex items-center justify-between">
            <CategoryIcon />
            <a
              class="text-lg capitalize"
              href={`/categories/${category?.slug}`}
              title={`View posts with the tag: ${category?.name}`}
            >
              {category?.name}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Base>
