---
import BackToTop from "./BackToTop";

const thisYear = new Date().getFullYear();
---

<footer class="border-t border-t-slate-200 dark:border-t-slate-800">
  <div
    class="flex flex-col md:flex-row justify-between items-center gap-x-8 gap-y-2 max-w-6xl px-8 py-2 mx-auto"
  >
    <div
      class="order-3 md:order-2 py-1 space-y-1 text-xs text-slate-600 dark:text-slate-400"
    >
      <small>©2022-{thisYear} Anish Shobith P S. All Rights Reserved.</small>
    </div>
    <div class="flex items-center gap-2 order-1 md:order-3">
      <BackToTop client:visible />
    </div>
  </div>
</footer>
