---
import Menu from "./Menu";
import NavLink from "./NavLink.astro";
import ThemeToggler from "./ThemeToggler";

const navLinks = [
  {
    name: "About",
    href: "/about",
  },
  {
    name: "Projects",
    href: "/projects",
  },
  {
    name: "Contact",
    href: "/contact",
  }
];
---

<header
  class="fixed top-0 left-0 right-0 bg-slate-100 dark:bg-slate-900 bg-opacity-70 dark:bg-opacity-70 backdrop-blur z-10"
>
  <div class="flex justify-between items-center max-w-6xl px-8 py-4 mx-auto">
    <a href="/" aria-label="Home">
      <h1 class="font-hack text-brand-3 m-0 text-2xl font-bold">
        <span class="text-brown-11 relative">&lt;</span>Anish <span class="text-brown-11 relative"
          >/&gt;</span
        >
      </h1>
    </a>
    <nav class="hidden md:block space-x-3">
      {navLinks.map((link) => <NavLink {...link} />)}
    </nav>
    <div class="hidden md:block">
      <ThemeToggler client:visible />
    </div>
    <div class="block md:hidden">
      <Menu client:visible>
        {navLinks.map((link) => <NavLink {...link} />)}
      </Menu>
    </div>
  </div>
</header>
