---
import Section from "@layouts/Section.astro";
---

<Section title="About me">
  <p>
    Hello, I'm Anish Shobith P S, a Full Stack Developer based in
    <a
      class="cursor-pointer font-bold"
      href="https://www.google.com/maps/place/Mangaluru,+Karnataka"
      target="_blank"
    >
      Mangaluru, Karnataka, India
    </a>. I enjoy building modern, scalable web applications and care deeply
    about writing clean, maintainable code. I’m driven by a genuine passion for
    technology and a strong inclination toward sharing knowledge and learning
    continuously.
  </p>

  <p>
    Outside of coding, I find joy in the small things. I have a soft spot for
    cats and never get tired of their antics, and I’m always up for enjoying a
    good scoop of ice cream. These little moments help me stay grounded and
    balanced.
  </p>
</Section>
