---
import Section from "@layouts/Section.astro";
---

<Section title="About me">
  <p>
    Hello, I'm Anish Shobith P S, hailing from <a
      class="cursor-pointer font-bold"
      href="https://www.google.com/maps/place/Mangaluru,+Karnataka/@12.9229922,74.8520636,12z/data=!3m1!4b1!4m6!3m5!1s0x3ba35a4c37bf488f:0x827bbc7a74fcfe64!8m2!3d12.9141417!4d74.8559568!16zL20vMDFzdjZr?entry=ttu"
      target="_blank"
    >
      Mangaluru, Karnataka, India
    </a>, completing my last year at St Joseph Engineering College. My
    educational goals as an aspiring engineer are driven by my genuine passion
    for technology and an innate love of sharing knowledge.
  </p>

  <p>
    I find comfort in the small pleasures in life, away from the world of
    academia. I have a soft spot in my heart for cats, and I can never get
    enough of their cute antics to make me smile. Apart from that, I love to
    savour the flavours of ice cream.
  </p>
</Section>
