---
import { ContactForm } from "@components/widgets/contactForm";
import Section from "@layouts/Section.astro";
---

<Section title="Contact Me">
  <ContactForm token={import.meta.env.TOKEN} client:load />
</Section>
