---
import HomePagination from "@components/widgets/HomePagination.astro";
import Posts from "@layouts/Posts.astro";
import Section from "@layouts/Section.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Section title="Blogs">
  <Posts posts={posts} />
  <HomePagination />
</Section>
