@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    @apply w-2 h-2 bg-neutral-100 dark:bg-neutral-900;
  }
  *::-webkit-scrollbar-thumb {
    @apply w-2 h-2 rounded bg-neutral-300 dark:bg-neutral-700;
  }
}

@layer components {
  .text-page {
    color: var(--aw-color-text-page);
  }

  .text-muted {
    color: var(--aw-color-text-muted);
  }

  .bg-light {
    background-color: var(--aw-color-bg-page);
  }

  .bg-dark {
    @apply bg-neutral-900;
  }

  
  .btn {
    @apply inline-flex items-center justify-center rounded-full shadow-md border-gray-400 border bg-transparent font-medium text-center text-base text-page leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 dark:text-slate-300 dark:border-slate-500 dark:hover:bg-slate-800 dark:hover:border-slate-800;
  }

  .btn-ghost {
    @apply border-none shadow-none text-muted hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
  }

  .btn-primary {
    @apply font-semibold bg-primary text-white border-primary hover:bg-zinc-900 hover:border-zinc-900 hover:text-[#e8dede] dark:text-[#18181b] dark:bg-[#e8dede] dark:border-[#e8dede] dark:hover:border-[#e8dede] dark:hover:bg-[#e8dede];
  }
}

#header.scroll {
  @apply shadow-md md:shadow-lg bg-[#e8dede] md:bg-[#e8dede]/90 md:backdrop-blur-sm dark:bg-neutral-900 dark:md:bg-neutral-900/90;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

@media (prefers-reduced-motion: no-preference) {
  .inactive {
    transition: all 1s;
  }
}

